@import './variables.scss';
@import './fonts.scss';

*{
    background-color: $bgc-w;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 1336px;
    margin: 32px;
}

@media only screen and (max-width: 390px) {
    .container {
        width: 360px;
        margin: 15px;
    }
}